body {
    text-align: center;
    background-color: rgb(255, 224, 224);
    font-size: 25px;
    display: flex;
    flex-flow: column nowrap;    
    justify-content: center;
}

table {
    width: 500px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid;
}

textArea {
    width: 500px;
    height: 100px;
    padding: 5px auto;
    border-radius: 10px;
}

button {
    width:140px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
}



